{
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "node": true,
    "mocha": true,
    "browser": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "plugins": [
    "jsx", "react"
  ],
  "rules": {
    "jsx/uses-factory": [1, {"pragma": "JSX"}],
    "jsx/mark-used-vars": 1,
    "jsx/no-undef": 1,
    "react/prop-types": 1,
    "no-console": 0
  }
}